# Pandas Seires 객체

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
# 1번 인덱스 출력
data[1]

0.5

In [7]:
# 1번부터 (3-1)번 인덱스 출력
data[1:3]

1    0.50
2    0.75
dtype: float64

In [8]:
# 인덱스 지정정
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [9]:
data['b']

0.5

## Dictionary 구조 Series로 직렬화

In [10]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [11]:
population['California']

38332521

In [12]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

## Series 객체 구축

In [13]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [14]:
pd.Series(5, index = [100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [15]:
dct = {2: 'a', 1: 'b', 3: 'c'}
index = [3, 2]

pd.Series(dct)

2    a
1    b
3    c
dtype: object

In [16]:
pd.Series(dct, index = index)

3    c
2    a
dtype: object

# Pandas 데이터 프레임

In [17]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}

population = pd.Series(population_dict)
area = pd.Series(area_dict)

In [18]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [19]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [20]:
states.columns

Index(['population', 'area'], dtype='object')

## DataFrame 객체 구축

In [21]:
# Series 객체를 이용한 방법
pd.DataFrame(population, columns = ['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [22]:
# dicts를 이용한 방법
data = [{'a' : i, 'b' : 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [23]:
# NaN 값
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [24]:
# Series 객체를 dicts로 묶음
pd.DataFrame({'population': population, 'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [25]:
# 2차원 Numpy배열
pd.DataFrame(np.random.rand(3, 2), columns = ['foo', 'bar'], index = ['a', 'b', 'c'])

        foo       bar
a  0.872188  0.212394
b  0.417548  0.487758
c  0.138270  0.207937

# Pandas Index 객체

In [26]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

In [27]:
ind[1]

3

In [28]:
ind[1] = 2 # index는 변하지 않는다. (immutable)

TypeError: Index does not support mutable operations

In [29]:
ind[::2] # 처음부터 끝까지 인덱싱 후 2칸씩 건너뛰기

Index([2, 5, 11], dtype='int64')

In [30]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

## 집합에서의 인덱스

In [34]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [40]:
indA.intersection(indB)

Index([3, 5, 7], dtype='int64')

In [41]:
indA.union(indB)

Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [47]:
indA.symmetric_difference(indB) # U - (A intersection B)

Index([1, 2, 9, 11], dtype='int64')