# Data Selection in Series

In [1]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [2]:
data['b']

0.5

In [4]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [ ]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

## 1차원 배열에서 Series

In [ ]:
data['a':'c'] # a ~ c까지

a    0.25
b    0.50
c    0.75
dtype: float64

In [10]:
data[0:2] # 0 ~ (2-1)까지

a    0.25
b    0.50
dtype: float64

In [ ]:
data[(data > 0.3) & (data < 0.8)] # 0.3보다 크고 0.8보다 작은 값 (Masking)

b    0.50
c    0.75
dtype: float64

In [ ]:
data[['a', 'e']] # a, e 값만 (Fancy Indexing)

a    0.25
e    1.25
dtype: float64

## loc, iloc, ix

In [14]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [ ]:
data[1] # 1번째 인덱스가 아닌, explicit index 1번으로 해석해야한다. -> explicit index가 우선

'a'

In [ ]:
data[1:3] # 하지만 slicing은 implicit index로 해석된다. 1번 인덱스 부터 3번 인덱스가 아닌, 1번부터 3번까지의 implicit index로 해석된다.

3    b
5    c
dtype: object

따라서 Implicit인지 Explicit인지 명시적으로 넣어주도록 하여 혼란을 막도록 한다.

In [25]:
print(f"1번 인덱스(loc[1]) : {data.loc[1]}, \n1번째 인덱스(iloc[1]) : {data.iloc[1]}") # loc는 explicit index, iloc는 implicit index

1번 인덱스(loc[1]) : a,
1번째 인덱스(iloc[1]) : b

In [27]:
print(f"loc[1:3] : \n{data.loc[1:3]}\niloc[1:3] : \n{data.iloc[1:3]}") # loc는 explicit index, iloc는 implicit index

loc[1:3] :
1    a
3    b
dtype: object
iloc[1:3] :
3    b
5    c
dtype: object

# Data Selection in DataFrame

In [28]:
# Dict에서 DataFrame
area = pd.Series({'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193, 'New York': 19651127, 'Florida': 19552860, 'Illinois': 12882135})
data = pd.DataFrame({'area': area, 'pop': pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [34]:
print(f"data['area'] : \n{data['area']}\n\ndata.area : \n{data.area}")
print("\ndata['area']와 data.area는 같은 결과를 반환한다.")

data['area'] :
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

data.area :
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

data['area']와 data.area는 같은 결과를 반환한다.

In [37]:
data.area is data['area']

True

In [39]:
data.pop is data['pop'] # pop은 키워드이기 때문에 False반환

False

데이터프레임에 새로운 Column 삽입

In [40]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

## 2차원 배열에서 DataFrame

In [41]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [42]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [47]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [48]:
data.iloc[:3, :2] # 0 ~ 2행, 0 ~ 1열

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [49]:
data.ix[:3, :'pop'] # ix는 deprecated

AttributeError: 'DataFrame' object has no attribute 'ix'

In [50]:
data.loc[data.density > 100, ['pop', 'density']] # density가 100보다 큰 값의 pop, density

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [52]:
data.iloc[0, 2] = 90 # 0행 2열의 값을 90으로 변경
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763