In [1]:
from datascience import *
import matplotlib
path_data = '../assets/data/'
matplotlib.use('Agg')
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import numpy as np

# 8.1. Applying a Function to a Column

In [2]:
def cut_off_at_100(x):
    """The smaller of x and 100"""
    return min(x, 100)

In [4]:
ages = Table().with_columns(
    'Person', make_array('A', 'B', 'C', 'D', 'E', 'F'),
    'Age', make_array(17, 117, 52, 100, 6, 101)
)
ages

Person | Age
A      | 17
B      | 117
C      | 52
D      | 100
E      | 6
F      | 101

### Apply